INVESTOPEDIA_EMAIL=jan.seliger@mailbox.tu-dresden.de
OTP_IMAP_HOST=imap.gmail.com
OTP_IMAP_USER=DEINE_BOT_MAIL_ADRESSE
OTP_IMAP_PASSWORD=DEIN_APP_PASSWORT
OTP_MAILBOX=INBOX
OTP_FROM_HINT=investopedia
OTP_SUBJECT_HINT=code
TUD_GAME_NAME=TUDSoSe2026 BehavioralFinance
